<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Authors</title>
  </head>
  <body>
    <div>
      <a href="/books">Books</a>
      <a href="/authors">Authors</a>
      <a href="/genres">Genres</a>
    </div>
    <div>
      <th:block th:each="author:${authors}">
        <div>
          <h3 th:text="${author.getFirstName() + ' ' + author.getLastName()}"></h3>
          <p th:text="${'Books: '}"></p>
          <th:block th:each="book:${author.getBooks()}">
            <div>
              <a th:href="@{'/rating/'+${book.getBookId()}}"
                 th:text="${book.getTitle()}"></a>
            </div>
          </th:block>
          <p>===============================</p>
        </div>
      </th:block>
    </div>
  </body>
</html>