<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="${book.getTitle()}"></title>
    </head>
    <body>
        <div>
            <a href="/books">Books</a>
            <a href="/authors">Authors</a>
            <a href="/genres">Genres</a>
        </div>
        <div>
            <h1 th:text="${book.getTitle()}"></h1>
            <button><a th:href="@{'/books/edit/'+${book.bookId}}">Edit</a></button>
            <button><a th:href="@{'/books/delete/'+${book.bookId}}">Delete</a></button>
            <p th:text="${'Total ratings -  ' + book.getTotalRatings() + ', average - ' + book.getAverageRating()}"></p>
            <p>===============================</p>
            <th:block th:each="rating:${book.getRatings()}">
                <div>
                    <p th:text="${rating.getBuyer().getFirstName() + ' ' + rating.getBuyer().getLastName() + ' - ' + rating.getRating()}"></p>
                </div>
            </th:block>
        </div>
    </body>
</html>
