<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Books</title>
</head>
<body>
<div>
  <a href="/books">Books</a>
  <a href="/authors">Authors</a>
  <a href="/genres">Genres</a>
</div>
<div>
  <h1 th:text="${genre.getGenre() + ' genre - ' + books.size + ' book(s)'}"></h1>
  <button><a th:href="@{'/genres/edit/'+${genre.genreId}}">Edit</a></button>
  <button><a th:href="@{'/genres/delete/'+${genre.genreId}}">Delete</a></button>
  <th:block th:each="book:${books}">
    <div>
      <h3 th:text="${book.getTitle() + ', ' + book.getGenre().getGenre()}"></h3>
      <a th:href="@{'/rating/'+${book.getBookId()}}"
         th:text="${'Total ratings -  ' + book.getTotalRatings() + ', average - ' + book.getAverageRating()}"></a>
      <p th:text="${'Authors: '}"></p>
      <th:block th:each="author:${book.getAuthors()}">
        <div>
          <a th:href="@{'/authors/'+${author.getAuthorId()}}"
             th:text="${author.getFirstName() + ' ' + author.getLastName() + ' '}"></a>
        </div>
      </th:block>
      <p>===============================</p>
    </div>
  </th:block>
</div>
</body>
</html>
