<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Authors</title>
  </head>
  <body>
    <div>
      <a href="/books">Books</a>
      <a href="/authors">Authors</a>
      <a href="/genres">Genres</a>
    </div>
    <div>
      <h1>Genres</h1>
      <button class="create"><a th:href="@{/genres/create}">New genre</a></button>
      <div><br></div>
      <th:block th:each="pair:${genres}">
        <div>
          <a th:href="@{'/books/'+${pair.getFirst().getGenre()}}"
             th:text="${pair.getFirst().getGenre() + ' - ' + pair.getSecond() + ' book(s)'}"></a>
        </div>
      </th:block>
    </div>
  </body>
</html>